$border-color: rgb(230,230,230);

.navbar{
    width: 100%;
    height: var(--height-sidebar-header);
    background: #fff;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;

    .navbar-options , .user-options{
        height: 100%;
    }

    .user-options{
        .image-admin{
            width: 100%;
            height: 100%;
            display: flex;
            justify-self: center;
            align-items: center;
            padding: 0 1em;
            position: relative;
            cursor: pointer;

            .image{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                line-height: 0;
                border: 1px solid $border-color;
            }

            .list-image-option{
                width: 160px;
                height: auto;
                position: absolute;
                cursor: initial;
                border-left: 1px solid $border-color;
                top : var(--height-sidebar-header);
                right: 0;

                .image-option{
                    text-align: right;
                    padding: .5em .7em;
                    border-bottom: 1px solid $border-color;
                }

                &.hide{
                    display: none;
                }
            }
        }
    }
}